<div class="side_nav z-depth-2 white"[ngStyle]="{ width: nav_width_px + 'px' }">
  <span class="title">
    Dashboard
  </span>
  <div class="nav">
    <ul>
      <li>
        <a routerLink="/dashboard/list-product" [routerLinkActive]="['deep-orange-text']">
          Gestion des produits
          <i class="material-icons right">add</i>
        </a>
      </li>
      <li>
        <a>
          Statistiques
          <i class="material-icons right">dashboard</i>
        </a>
      </li>
    </ul>

    <span class="title">Général</span>
    <ul>
      <a>
        <li>
          <i class="material-icons right">account_circle</i>
          Voir son profil
        </li>
      </a>
      <a>
        <li>À propos</li>
      </a>
    </ul>
  </div>
</div>
