.side_nav{
  padding: 20px 10px!important;
  position: fixed;
  height: 100%;
}

.side_nav .title{
  font-size: 20px;
}

.side_nav ul{
  padding-left: 10px;
}

.side_nav a{
  color: #000;
  font-size: 16px;
  cursor: pointer;
  color: #424242;
  padding: 5px 10px;

  padding: 5px 10px;
  margin: 3px 0px!important;
  display: block;
}

.side_nav a:hover{
  background-color: #ffe0b2;
}
